body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    width: 1440px;
}
.hero-section{
    display: flex;
    padding: 3em 5em;
    gap: 1em;
    padding-bottom: 11em;
    background-color: rgb(247, 249, 255);
}
.hero-section-text{
    flex: 1;
}
.hero-section-img{
    flex: 1;
}
.hero-section-text h1 {
    font-size: 72px;
    font-weight: 700;
    margin: 120px 0 0 0;
    color: rgb(2, 48, 89);
    line-height: 80px;
    letter-spacing: 3px;
}
.hero-section-text p{
    color: rgba(141, 144, 145, 1);
    line-height: 32px;
}
.search{
    display: flex;
}
.btn{
    color: white;
    background-color: rgba(3, 76, 188, 1);
    width: 150px;
    height: 68px;
    border-radius: 12px;
    border: none;
}
input{
    border: none;
    width: 454px;
    font-size: 19px;
    outline: none;
    background-color:rgba(251, 251, 251, 1);
    /* padding: 0 1em; */
}
.fg{
    padding: 0.2em 1em;
    width: 24px;
    transform: scale(-1, 1);
    color: rgba(141, 144, 145, 1);

}
.input-search{
    /* border: 1px solid red; */
    height: 20px;
    padding: 1.5em 0.6em;
    background-color:rgba(251, 251, 251, 1);
    border-radius: 9px;
    display: inline-flex;
}
.input-search ::placeholder{
    font-size: 14px;
    color: rgba(141, 144, 145, 1);
}
.section2{
    background-color:rgb(251, 252, 255);
    display: flex;
    margin: auto;
    padding: 5em 4em 12em 4em ;
    border-radius: 12px;
}
.section2-img{
    flex: 1;
}
.section2-mobile-view-img{
    display: none;
}
.section2-text-flex-items{
    display: flex;
}
.section2-text{
    flex: 1;
    padding: 3em 0 0 0;
    color: rgba(141, 144, 145, 1);
}
.section2-text h1{
    font-size: 56px;
    color: rgba(2, 48, 89, 1);
}
.section3{
    /* width: 90%; */
    /* margin: auto; */
    background-color: rgb(248, 249, 255);
}
.section3-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3-top p{
    color: rgb(140, 144, 145);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.section3-top h2{
    color: rgb(2, 48, 89);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.section3-btns button{
    background-color: rgb(246, 246, 248); 
    border: none;  
    /* justify-content: center; */
    padding: 0.6em 1em;
    border-radius: 3px;
    color: rgb(140, 144, 145);
    margin-left: 10px;
}
.section3-btns :first-child{
    color: rgba(3, 76, 188, 1);
    background-color: rgb(223, 233, 248);
}
.section3-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    /* margin: 3em 0; */
}
.section3-card-item{
    background-color: rgba(255, 255, 255, 1);
    width: 384px;
    height: 336px;
    /* padding: 0.2em; */
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.section3-card-item-grey-area{
    background-color: rgba(251, 251, 251, 1);
    display: flex;
    justify-content: right;
    /* justify-self: center; */
    width: 320px;
    height: 244px;
    /* border: 1px solid red; */
}
.section3-card-item-grey-area-grey-icon{
    color: rgba(170, 183, 191, 1);
    text-align: center;
}
.section3-card-item-grey-area-btn{
    background-color: rgba(34, 176, 46, 1);
    color: white;
    height: max-content;
    padding: 0.6em 1em;
    margin: 1em;
    border: none;
    border-radius: 9px;
}
.section3-card-item-grey-area-btn-img{
    display: flex;
    align-items: flex-end;
    padding: 0 170px 0px 0;
}
/* .small-wahala{
    display: flex;
    align-items: flex-end;
    padding: 0 180px 0px 0;
} */
.section3-card-item-grey-area-btns{
    background-color: rgba(255, 217, 101, 1);
    color: white;
    height: max-content;
    padding: 0.6em 1em;
    margin: 1em;
    border: none;
    border-radius: 9px;
}
.section3-card-item-grey-area-text{
    display: flex;
    gap: 40px;
    padding-top: 1em;
    /* justify-content: center; */
}
.p{
    color: rgba(2, 48, 89, 1);
}
.section3-card-item-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-wahala{
    display: flex;
    gap: 30px;
}
.section4{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/img/section4-background.svg);
    background-size: 1930px;
    background-color: #f9fafe;
    padding: 3em 0;
    padding-top: 3em;
}
.section4-img{
    display: flex;
    justify-content: center;
}
.section4-mid-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4-mid-text p{
    font-size: 38px;
    text-align: center;
}
.section4 button{
    padding: 1em 1em;
    color: rgb(3, 76, 188);
    background-color: rgb(254, 255, 255);
    width: 15em;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid rgb(254, 255, 255);
    /* margin: 2em 0; */
    /* text-align: center; */
}
.section4-flex-text-img{
    display: flex;
    gap: 10px;
}
.section4-flex-text{
    display: flex;
    padding: 0%;
    gap: 20px;
    justify-content: space-around;
    margin-top: 2em ;
}
@media  screen and (max-width: 500px) {
    body{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-section-img img{
        width: 234px;
    }
    .hero-section-text{
        width: 261px;
    }
    .hero-section-text h1{
        font-size: 24px;
    }
    .hero-section-text p{
        font-size: 14px;
    }
    .btn{
        width: 120px;
    }
    .search{
        width: 352px;
    }
    .input-search{
        width: 104px;
        padding: 1.5em 2em;
    }
    .section2-img{
        display: none;
    }
    .section2-text h1{
        font-size: 24px;
    }
    .section2-mobile-view-img{
        display: flex;
    }
    .section3-btns{
        display: none;
        /* flex-wrap: wrap; */
    }
    .section3{
        background-color: rgb(228, 233, 254);
    }
    .section3-cards{
        display: block;
    }
    .section3-card-item{
        width: 357px;
        margin: 0% 0 0 0;
        padding: 0%;
    }
    .section4{
        background-color: rgb(216, 226, 254);
        background-image: none;
        /* background-size: 10%; */
    }
    .section4-img{
        display: none;
    }
    .section4-mid-text{
        display: flex;
        width: fit-content;
        border: 1px solid red;
        margin: 0;
    }
    .section4-mid-text p{
        font-size: 38px;
    }
    .section4-flex-text{
        display: flex;
        flex-direction: column;
    }
}